<h1 class ="text-center bg-primary">List of all employee</h1>

<%= link_to "Add New Employee", new_employee_path, class: "btn btn-primary  mt-5 mb-2" %>


<table class="table table-striped table-bordered table-hover table-primary">
  <thead class="table-primary">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Salary</th>
      <th scope="col">Role</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <th scope="row"><%= employee.id %></th>
        <td><%= employee.name %></td>
        <td><%= employee.salary %></td>
        <td><%= employee.role %></td>
        
        <td>
  <%= link_to 'Edit', edit_employee_path(employee), class: "btn btn-warning" %>

  <%= link_to "Delete",
      employee_path(employee),
      data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
      class: "btn btn-danger" %>

  <%= link_to 'Show', employee_path(employee), class: "btn btn-info" %>
</td>

      </tr>
    <% end %>
  </tbody>
</table>

