<div class="card shadow p-4">
  <%= form_with model: @document, local: true do |form| %>

    <!-- Document Name -->
    <div class='form-group mb-3'>
      <%= form.label :name, class: 'mb-2' %>
      <%= form.text_field :name, class: 'form-control form-control-lg rounded' %>
      <% @document.errors.full_messages_for(:name).each do |message| %>
        <div class='text-danger'><%= message %></div>
      <% end %>
    </div>

    <!-- Document Type -->
    <div class='form-group mb-3'>
      <%= form.label :doc_type, class: 'mb-2' %>
      <%= form.select :doc_type, Document::DOC_TYPES, 
            { prompt: 'Select Document Type' }, 
            class: 'form-control form-control-lg rounded' %>
      <% @document.errors.full_messages_for(:doc_type).each do |message| %>
        <div class='text-danger'><%= message %></div>
      <% end %>
    </div>

  <div class='form-group mb-3'>
  <%= form.label :employee_id, class: 'mb-2' %>

  <%= form.collection_select :employee_id,
        Employee.all,
        :id,
        :name_with_employee_id,
        { prompt: "Select Employee" },
        class: 'form-control form-control-lg rounded' %>

  <% @document.errors.full_messages_for(:employee_id).each do |message| %>
    <div class='text-danger'><%= message %></div>
  <% end %>

    <div class='form-group mb-3'>

      <%= form.label :image, class: 'mb-2' %>
      <%= form.file_field :image, class: 'form-control form-control-lg rounded' %>
      <% @document.errors.full_messages_for(:image).each do |message| %>
        <div class='text-danger'><%= message %></div>
      <% end %>
    </div>




</div>



    <!-- Buttons -->
    <div class="d-flex mt-4">
      <%= form.submit "Save Document", class: "btn btn-success btn-md m-1" %>
      <%= link_to "Back", documents_path, class: "btn btn-secondary btn-md m-1" %>
    </div>

  <% end %>
</div>
